
.CardsSeller{
 
  background: linear-gradient(180deg, #D1A17C 29.82%, #FFFFFF 100%);
  font-family: 'Lato', sans-serif;
  overflow-x:hidden;
  height: 600px;
  

.BestSeller{
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 69px;
  color: #FFFFFF;
  padding-top:50px;
  padding-bottom: 20px;

}
.shopAll{
  margin-bottom:20px;
  margin-top: -22px;
  font-size:14px;
  font-style: italic;
  margin-left:45px; 
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  
}
a {
  color: white;
}
a:hover{
  color: white; 
}
.item {
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 340px;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  border-radius: 5px;
  overflow: hidden;
  transition: 1s;
  
  
}

.item .img-box {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: 3s;
}

.item .img-box img {
  display: block;
  width: 100%;
  margin: 0 auto 0;
  transition: 3s;
}

.details {
  position: absolute;
  bottom: -70px;
  width: 100%;
  background: #fff;
  padding: 10px;
  padding-top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: 1s;
}



.details h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  width: 100%;
  font-size: 16px;
}

.details h2 span {
  font-size: 14px;
  color: rgb(139, 135, 135);
  font-weight: normal;
}

.details .price {
  position: absolute;
  top: 0;
  right: 25px;
  font-weight: bold;
  font-size: 20px;
 
}

.Cart{
  display: block;
  padding: 5px;
  color: #fff;
  margin: 15px 0 0;
  background: #521616;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: 1s;
  margin-bottom: 5px;
  width: 100%;
}

.Cart:hover {
  background: rgb(196, 75, 75);
  text-decoration: none;
  transition: 1s;
  color:whitesmoke;
}
.item:hover .details {
  overflow: visible;
  bottom: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.25);
  transition: 1s;
}

.item:hover .img-box {
  position: absolute;
  bottom: 60px;
  transition: 3s;
}

.item:hover h2, .item:hover .price {
  padding-top: 20px;
  padding-bottom: 0;
}
}