.Footers{
  background: linear-gradient(180deg, #FFFFFF 0%, #D49C79 100%);
  padding: 15px;
  h2{
    font-family: Philosopher;
    color: #832323;
    padding-top: 50px ;
    padding-bottom: 10px;

  }
  i{
    font-size: 28px;
    margin-right: 25px;
  }
  hr{
    border: 1px solid #301404;
  }
  h6{
    font-family: Philosopher;
    color: #832323;
    padding: 20px 0px;
  }
  p{
    color:black;
    font-family: roboto;
    border-bottom: None;
  }

}